// Fonts
$-f-josefin: 'Josefin Sans', sans-serif;
$-f-rubik: 'Rubik', sans-serif;;

// Colors
$-c-background: #fff8ee;
$-c-bg-light: #efc99d;
$-c-bg-dark: #bd9970;
$-c-arrow: #a1815b;
$-c-card: #e4d1bc;
$-c-text: #2a1f18;
$-c-border: #2a1f18;